.mapChart {
    height: 530px;
    background-color: #56beb9;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.mapChart .leaflet-container {
    height: 100%;

}
.info-FlagNation img {
    width: 100px;
    border-radius: 6px;
}
.info-NationName {
    font-size: 22px;
    font-weight: bolder;
    color: rgb(179, 142, 88);
}
.info-FlagNation {
    height: 82px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}
.info-Container {
    width: 151px;
}

.info-NationConfirmed,
.info-NationRecovered,
.info-NationDeaths {
    font-size: 15px;
    margin-top: 6px;
}