* {
  margin: 0;
}
/* making application device (mobile) responsive */
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
.app {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
.app__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;

}
.app__infostats {
  display: flex;
  /* separate boxes from each other */
  justify-content: space-between;
}

.app__leftside {
  flex: 0.9;
}